extends layout

block content
  h1 #{title}: #{bookinstance._id}
  
  p #[strong Title:] #{bookinstance.book.title}
  p #[strong Imprint:] #{bookinstance.imprint}
  hr

  p Do you really want to delete this Copy?

  form(method='POST' action='')
    div.form-group.mb-3
    input#bookinstanceid.form-control(type='hidden',name='bookinstanceid', required='true', value=bookinstance._id )

    button.btn.btn-danger(type='submit') Delete