extends layout

block content
  h2.ps-4.ms-2= title
  hr
  ul
    each val in bookinstance_list
      div.list-group.mb-1.w-75.item-card
        a.list-group-item.list-group-item-action.d-flex.gap-3.p-2.shadow(href=val.url aria-current="true")
          div.d-flex.gap-2.w-100.justify-content-between
            div
              h6.mb-0.text-dark #{val.book.title}
              p.mb-0.opacity-75.text-dark #{val.imprint}
            if val.status=='Available'
              p.badge.bg-success.mb-auto #{val.status}
            else if val.status=='Maintenance'
              p.badge.bg-danger.mb-auto #{val.status}
            else if val.status=='Loaned'
              p.badge.bg-info.mb-auto #{val.status}
            else
              p.badge.bg-warning.mb-auto #{val.status}

    else
      li There are no book copies in this library.